/* Code Message */

.code-msg {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 15px 0 0;
    padding: 15px;
    border: dashed 1px #ccc;
}

.code-msg > * {
    margin: 0;
}

.code-msg :any-link {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 4px;
    text-decoration-color: #666;
}

.code-msg :any-link:hover {
    text-decoration-style: solid;
}

.code-msg a,
.code-msg code {
    overflow-wrap: anywhere;
}

.code-msg code {
    font-size: 90%;
    font-family: Menlo, Monaco, "Courier New", monospace;
}

.code-msg > .h {
    color: #666;
}

/* Argument List */

.code-msg .arg-l {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.code-msg .arg-l > li {
    counter-increment: argument-counter;
}

.code-msg .arg-l > li::before {
    display: inline-flex;
    padding: 1px 3px;
    margin-right: 3px;
    border-radius: 5px;
    background-color: #eee;
    font-size: 80%;
    content: counter(argument-counter);
}

.code-msg .arg-l > li:not(:last-child) {
    margin-right: 5px;
}

.code-msg .arg-l > li:not(:last-child)::after {
    content: ',';
}

/* Metadata */

.code-msg dl {
    display: grid;
    column-gap: 15px;
    grid-template-columns: max-content 1fr;
    margin: 0;
}

.code-msg dl > dt {
    color: #666;
}

.code-msg dl > dd {
    margin: 0;
}

/* Stack Trace List */

.code-msg .stk-tr-l {
    list-style-type: decimal;
    padding-left: 40px;
}

.code-msg .stk-tr-l > li::marker {
    color: #666;
}

/* Types */

.code-msg-err {
    border-color: #e42a2a;
}

.code-msg-warn {
    border-color: #f48424;
}

.code-msg-note {
    border-color: #ece130;
}

.code-msg-dep {
    border-color: #516f79;
}

/* Highlighting */

.code-msg code.php .var {
    color: var(--code-php-highlight-variable, #001180);
}

.code-msg code.php .type {
    color: var(--code-php-highlight-keyword, #0a00ff);
}

.code-msg .func-name {
    color: var(--code-php-highlight-function, #795e27);
}

.code-msg .line-num,
.code-msg .arg-l .int .text,
.code-msg .arg-l .float .text {
    color: var(--code-php-highlight-number, #0a8658);
}

.code-msg .punc-brkt {
    color: var(--code-php-highlight-punctuation-level-1n, #0531fa);
}

.code-msg .arg-l .info {
    color: var(--code-php-highlight-number, #0a8658);
}

.code-msg .arg-l .string .text {
    color: var(--code-php-highlight-string, #a21515);
}

@media (prefers-color-scheme: dark) {

    /* Argument List */

    .code-msg .arg-l > li::before {
        background-color: #111;
    }

    /* Highlighting */

    .code-msg code.php .var {
        color: var(--code-php-highlight-variable, #9ddbfe);
    }

    .code-msg code.php .type {
        color: var(--code-php-highlight-keyword, #559cd6);
    }

    .code-msg .func-name {
        color: var(--code-php-highlight-function, #dcdcaa);
    }

    .code-msg .line-num,
    .code-msg .arg-l .int .text,
    .code-msg .arg-l .float .text {
        color: var(--code-php-highlight-number, #b6cda8);
    }

    .code-msg .punc-brkt {
        color: var(--code-php-highlight-punctuation-level-1n, #ffd601);
    }

    .code-msg .arg-l .info {
        color: var(--code-php-highlight-number, #b6cda8);
    }

    .code-msg .arg-l .string .text {
        color: var(--code-php-highlight-string, #ce9278);
    }
}